.col-sm-3 {
  padding: 15px;
  text-align: left;
  margin: 5px 20px 5px 20px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inner_wrap {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 5px;
  min-height: 360px;
}
.thumbnail {
  width: 200px;
  height: 200px;
  text-align: left;
  border: none;
}
.old {
  font-size: 10px;
  text-decoration:line-through;
}
.new {
  font-weight: bold;
  color: red;
}
h5 {
  margin-bottom: 5px
}
.product_single_view {
  width: 450px;
  height: 450px;
}
.col-md-8 {
  text-align: center;
}
.col-md-4 {
  text-align: left;
}
.product_title {
  background-color: #F2C40D;
}
h4 {
  font-weight: normal;
}
.price_title {
  background-color: #BFF6EB;
  margin-bottom: 8px;
}
.description_title, .dimensions_title {
  background-color: #EEEEEE;
  margin: 8px 0px 8px 0px;
}
.description_text, .dimensions_text {
  font-size: 12px;
}
